@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400;500;600;700&family=Mouse+Memoirs&family=Single+Day&display=swap');

 body {
    font-family: 'Edu VIC WA NT Beginner', cursive;
    font-family: 'Mouse Memoirs', sans-serif;
    font-family: 'Single Day', cursive;
}

p {
    color: black;
}

.box {
    position: absolute;
    padding: 10px;
    border: 1px solid gray;
    box-shadow: 2px 6px 9px -5px #000000;
    border-radius: 10px;
    width: 50%;
    left: 25%;
    top: 20%;



}
.img {
    width: 50%;
    position: absolute;
    left: 25%;
    top: 60%;
}